<div>
  <div class="ui borderless inverted small menu top-nav-bar">
    <a class="item"> <%= image_tag("TAM-Logo-white.png", alt: "Texas A&M Logo")%></a>
    <div class="item">PEER TEACHING PROGRAM</div>
    <div class="inverted right menu">
      <div class="item"><i class="ui big  user circle icon"></i> Leyk</div>
      <a class="item" href="/">Log Out</a>
    </div>
  </div>
</div>

<div class="ui sticky one">
  <div style="border-radius: 0; border: 0" class="ui darkShade huge menu second-nav-bar">
    <a href="/admin/home" class="<%='active active-dark' if @active == 'home'%> item"><div class="Tab"><i class="home black icon"></i>Home</div></a>
    <a href="/admin/applications" class=" <%='active active-dark' if @active == 'show_app'%> item"><div class="Tab"><i class="file black icon"></i>Applications</div></a>
    <a href="/admin/documents" class="<%='active active-dark' if @active == 'documents'%> item"><div class="Tab"><i class="upload black icon"></i>Documents</div></a>
    <a href="/admin/settings" class="<%='active active-dark' if @active == 'settings'%> item"><div class="Tab"><i class="wrench black  icon"></i>Settings</div></a>
    <div class="inverted white right menu">
      <div class="item">
          <div class="ui search">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Search applicants..." name="applicant">
               <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
      </div>
    </div>
  </div>
</div>

<div id="context">
