<%= render 'adminMenu' %>

<div class="ui  internally celled grid" style="height: 100%">
  <div class="thirteen wide column">
    <div class="ui center aligned container">
      <h2 class="ui icon header">
        <i class="circular user  icon"></i>
        <div class="content">
          <%=@applicant.first_name %> <%=@applicant.last_name %>
          <div class="sub header">All of the applications are located here. Click on 'View' to look at an individual one.</div>
        </div>
      </h2>
    </div>

    <div class="ui container grid" style="margin-top: 20px !important;">
      <div class ="two column row">
        <div class="column">
          <table class="ui padded definition table">

            <tbody>
            <tr>
              <td>First Name</td>
              <td><%=@applicant.first_name %></td>

            </tr>
            <tr>
              <td>Last Name</td>
              <td><%=@applicant.last_name %></td>
            </tr>
            <tr>
              <td>Email Address</td>
              <td><%=@applicant.email %></td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td><%=@applicant.phone_number %></td>
            </tr>
            </tbody></table>
        </div>
        <div class="column">
          <table class="ui padded definition table">
            <tbody>
            <tr>
              <td>UIN</td>
              <td><%=@applicant.uin %></td>

            </tr>
            <tr>
              <td>Major</td>
              <td><%=@applicant.last_name %></td>
            </tr>
            <tr>
              <td>Grade Point Average</td>
              <td><%=@applicant.email %></td>
            </tr>
            <tr>
              <td>Graduation Year</td>
              <td><%=@applicant.phone_number %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class ="row">
        <div class="column">
          <table class="ui padded definition table">

            <tbody>
            <tr>
              <td>Can peer teach for?</td>
              <td><%=@applicant.first_name %></td>

            </tr>
            <tr>
              <td>Additional Comment</td>
              <td><%=@applicant.comment %></td>
            </tr>
            </tbody></table>
        </div>
      </div>

    </div>
  </div>
  <div class="ui center aligned three wide column" style="background:#F5F5F5; margin-top: -45px">
    <h4>Application Status</h4>
    <div class="ui medium yellow label"><i class="attention icon"></i> Pending Review</div>
    <h4>Update Status</h4>
    <div class="ui secondary vertical menu">
      <a class="item" style="color:green">
         <b>Approve</b>
      </a>
      <a class="item" style="color:red">
        <b>Deny</b>
      </a>
      <a class="item" style="color:orange">
         <b>Missing Info</b>
      </a>
    </div>
    <h4>Click to download file</h4>
    <div class="ui secondary vertical menu">
      <a class="item">
        Resume
      </a>
      <a class="item">
        Transcript
      </a>
      <a class="item">
        Schedule
      </a>
    </div>
  </div>
</div>






