<%= render 'adminMenu' %>

<%if flash[:notice]!= nil %>
    <div class="ui container" style="margin: 30px 0 30px 0">
      <div class="ui positive icon message">
        <i class="checkmark icon"></i>
        <i class="close icon"></i>
        <div class="content">
          <div class="header">
            <%=flash[:notice]%>
          </div>
        </div>
      </div>
    </div>
<%end %>


<div class="ui center aligned container" style="margin:40px 0 40px 0">
<h2 class="ui  icon header">
  <i class="circular maroonyellow users icon"></i>
  <div class="content">
     Submitted Applications
    <div class="sub header">All of the applications are located here. Click on 'View' to look at an individual one.</div>
  </div>
</h2>
</div>

<div class="ui container" style="padding: 40px">
  <table class="ui selectable very basic  striped table ">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>UIN</th>
      <th>Graduation Year</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @applicants.each_with_index do |applicant, i| %>
    <tr>
      <td><%= applicant.first_name %></td>
      <td><%= applicant.last_name %></td>
      <td><%= applicant.uin %></td>
      <td><%= applicant.email %></td>
      <td><%= applicant.graduation_date %></td>
      <td><a href="/admin/applications/<%=applicant.id%>"><div class="ui basic primary button">View </div> </a></td>
      <td><a rel="nofollow" data-method="delete" href="/applications/<%=applicant.id%>"><i class="red close icon"></i></a></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= render 'adminFooter' %>

