<%= render 'adminMenu' %>
<div class="ui center aligned container" style="margin:40px 0 40px 0">
  <h2 class="ui icon header">
    <i class="circular wrench icon"></i>
    <div class="content">
      Settings
      <div class="sub header"></div>
    </div>
  </h2>
</div>

<div class="ui container stackable grid" style="max-width: 1000px !important;">
  <div class="row">
    <div class="five wide column">
    <h2>Manage Coordinators</h2>
      <p>View and Delete Users Here</p>
    </div>

    <div class="ten wide column">



      <table class="ui selectable very basic  striped table ">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>

        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td>
            <form action="/deleteAdmin" method="post">
              <input type="hidden" name="id" value=<%= user.id %>>
              <button type="submit" class="ui basic red button">Delete</button>
            </form>
          </td>

        <% end %>

        </tbody>
      </table>


    </div>

  </div>

    <div class="row">
     <div class="column">
       <hr>
     </div>
    </div>


  <div class="row">
    <div class="five wide column">
      <h2>Add Coordinator</h2>
      <p>Add Users Here</p>
    </div>


    <div class="ten wide column">
      <form action="/addAdmin" method="post" class="ui form">
          <div class="field">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email">
          </div>
          <div class="field">
            <label>First Name</label>
            <input type="text" name="first_name" placeholder="First Name">
          </div>
        <div class="field">
          <label>Last Name</label>
          <input type="text" name="last_name" placeholder="Last Name">
        </div>

        <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="Password">
        </div>

        <div class="field">
          <label>Confirm Password</label>
          <input type="password" name="confirm_password" placeholder="Confirm Password">
        </div>

          <button class="ui bg-maroon button" type="submit">Submit</button>
      </form>
    </div>
  </div>

    <div class="row">
     <div class="column">
       <hr>
     </div>
    </div>

  <div class="row">
    <div class="five wide column">
      <h2>Password</h2>
      <p>Change your password here</p>
    </div>
    <div class="ten wide column">
      <form action="/changePassword" method="post" class="ui form">
          <div class="field">
            <label>Current Password</label>
            <input type="password" name="current_password" placeholder="Current Password">
          </div>
          <div class="field">
            <label>New Password</label>
            <input type="password" name="new_password" placeholder="New Password">
          </div>
        <div class="field">
          <label>Confirm New Password</label>
          <input type="password" name="confirm_new_password" placeholder="Confirm Password">
        </div>

          <button class="ui bg-maroon button" type="submit">Submit</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="five wide column">

    </div>
    <div class="eight wide column">

    </div>
  </div>



  </div>



<%= render 'adminFooter' %>