<%= stylesheet_link_tag '/stylesheets/applications/new' %>
</head>
<body>

<div class="ui container">
<div class="ui  middle aligned center aligned grid">
  <div class="row">
    <div class="ui segments">
      <div class="ui left aligned padded segment" id ="headerSegment" style="background:#D6D3C4">
        <%#= image_tag("TAM-Logo-white.png", class:"ui  small  image") %>
        <h1>Peer Teacher Application</h1>
      </div>
      <div class="ui segment">
        <p>This form is a job application for the peer teaching program in the Computer Science and Engineering Department.</p>
        <p>You MUST be in the Computer Science and Engineering Department to apply and you must have received (or expect to receive) an A in the classes you Peer Teach for. </p>
        <p>Selection is based on interview with Dr. Leyk and GPA. </p>
      </div>
      <div class="ui segment">

        <!-- Start of from -->
        <%= form_for @applicant, direct_upload: true, url: {action: "create"}, html: {class: "ui form"} do |f| %>

          <h4 class="ui dividing header">Personal Information</h4>
          <div class= "ui two required fields">
            <div class="field">
              <label>First Name</label>
              <input type="text" name="first_name" placeholder="First Name">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input type="text" name="last_name" placeholder="Last Name">
            </div>
          </div>

          <div class= "ui two  required fields">
            <div class="field">
              <label>Email Address</label>
              <input type="text" name="email" placeholder="First Name">
            </div>
            <div class="field">
              <label>UIN</label>
              <input type="text" name='uin' placeholder="Last Name">
            </div>
          </div>


          <div class= "ui two required fields">
            <div class="field">
              <label>Phone Number</label>
              <input type="text" name="phone_number" placeholder="First Name">
            </div>
            <div class="field">
              <label>Graduation Year</label>
              <input type="text" name="graduation_date" placeholder="Last Name">
            </div>
          </div>

          <div class= "ui two required fields">
            <div class="field">
              <label>GPA</label>
              <input type="text" name="gpa" placeholder="First Name">
            </div>
          </div>


          <h4 class="ui dividing header">School Information</h4>
          <div class="required grouped fields">
            <label for="fruit">Select your major</label>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="major" checked="" tabindex="0" class="hidden">
                <label>Computer Science</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="major" tabindex="0" class="hidden">
                <label>Computer Engineering in the Computer Science Department</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="major" tabindex="0" class="hidden">
                <label>Computing</label>
              </div>
            </div>
          </div>

          <div class="required field">
            <label>Classes you can peer teach for</label>
            <%= select("post", "csce_class", csce_classes, {:id => 'multi-select', :class => 'ui selection dropdown'})%>


            <h4 class="ui dividing header">Documents To Upload</h4>

            <div class="ui three required fields">
<!--              <div class="field">-->
<!--                <label>Resume (.pdf)</label>-->
<!--                <input type="file" name="resume" placeholder="First Name" accept=".pdf">-->
<!--              </div>-->
              <div class="field">
                <label>Transcript (.pdf)</label>
                <input type="file" name="transcript" placeholder="Last Name" accept=".pdf">
              </div>
              <div class="field">
                <label>Schedule (.txt)</label>
                <input type="file" name="schedule" placeholder="Last Name" accept=".txt">
              </div>
            </div>

            <h4 class="ui dividing header">Additional Comment</h4>
            <div class="field">
              <p>Comment below any extra experiences you have had - i.e. high school computer science courses, internships, CS classes taken on your own time, etc.</p>
              <label></label>
              <textarea name="comment"></textarea>
            </div>
            <div class="field">
              <%= label_tag :resume %>
              <%= file_field_tag :resume %>
            </div>

            <button class="ui button" type="submit">Submit</button>

            <!-- End of from -->
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
</div>





