    
    <title> Peer Teacher </title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  </head>
  <body >

    <div style="background: #D3D3D3">
        <div id="tertiary-menu" class="ui  borderless tiny menu">
            <div class="right menu">
               <a class="item">TEXAS A&M COMPUTER SCIENCE & ENGINEERING DEPARTMENT</a>
                <a class =" item"></a>
                <a href="/login" class="inverted item"><i class=" sign in alternate icon"></i> COORDINATOR LOGIN</a>
            </div>
        </div>
    </div>

    <div id="secondary-menu" class="ui borderless menu">
        <a href="https://www.tamu.edu" class="item">
          <%= image_tag("TAM-LogoBox.png", alt: "Texas A&M Logo")%>
        </a>
        <a class="item">
            <div id="title" class="ui massive header"> COMPUTER SCIENCE PEER TEACHING PROGRAM</div>
        </a>
    </div>
    <div class="ui sticky">
    <div style="background: #500000">
        <div id="main-menu" class="ui inverted big borderless menu">
            <a href="/" class="<%='active' if @page == 'index'%> item">Home</a>
            <a class = "<%='active' if @page == 'people'%> item" href="/people">People</a>
            <a href="/rules" class = "<%='active' if @page == 'rules'%> item">Rules</a>
            <a href="/application/instructions" class = "<%='active' if @page == 'instructions'%> item">Apply</a>
            <a class="item">View App Status</a>
            <a class="item">Contact Us</a>
        </div>
    </div>
     </div>



