<%= stylesheet_link_tag '/stylesheets/welcome/instructions' %>
<%= render 'landingMenu' %>
<%= image_tag("peer-teachers-web.jpg", alt: "Peer Teachers" , class:"jumbotron" )%>

<div class="ui breadcrumb">
	<span class="section">Home</span>
	<span class="divider">/</span>
	<span class="section">Application</span>
	<span class="divider">/</span>
	<span class="section"><b>Instructions</b></span>
</div>

<div class="ui container">
	<div class="ui horizontal divider">
		<h1><u>Who Should Apply</u></h1>
	</div>

	<p>Computer Science and Computer Engineering (CECN) students who are knowledgeable, with good academic performance, communication skills, and the desire to help others succeed are encouraged to apply for open Peer Teacher positions.</p>
	
	<div class="ui horizontal divider">
		<h1><u>Scheduling Format</u></h1>
	</div>
	<p>As part of your application, you will be asked to submit your schedule according to the following instructions.</p>
	
	<ul class= "ui huge list"">
		<li>To submit your schedule in the correct format, first login to Howdy and go to the My Record tab and click on My Schedule.</li>
		<li>Make sure you are viewing the student schedule format. It should look like this:</li></li>
		<%= image_tag("schedule1.png", alt: "Schedule Format" , class:"ui centered huge image " )%>
		<li>If you are using Windows, use Ctrl+A to select all the text, and then Ctrl+C to copy it to the clipboard. If you are using Mac, use Cmd+A to select all the text and Cmd+C to copy it.</li>
		<%= image_tag("schedule2.png", alt: "Schedule Format" , class:"ui centered huge image " )%>
		<li>If you are using Windows, open Notepad and press Ctrl+V to paste the clipboard to Notepad. If you are using Mac, open TextEdit and then use Cmd+V to paste the text. (If you have another preferred text editor like Notepad++ or Sublime Text you can use whatever you need)</li>
		<%= image_tag("schedule3.png", alt: "Schedule Format" , class:"ui centered huge image " )%>
		<li>If you are using Mac and TextEdit, make sure your filetype is plaintext and not richtext. If you see the following, press Cmd+Shift+T to switch to plaintext mode.</li>
		<%= image_tag("schedule4.png", alt: "Schedule Format" , class:"ui centered huge image " )%>
		<li>Save the file as Firstname_Lastname.txt</li>
		<li>Finally, submit it as part of your application</li>
	</ul>
		
	
	<div class="ui horizontal divider">
    	<h1><u>CSCE Peer Teacher Application</u></h1>
  	</div>

  	<div class="ui center aligned container" id="startContainer">
  		<a href="/applications/new">
  		<button class="ui huge right labeled icon yellowgrey button">
		  <i class="right arrow icon"></i>
		  Start Your App
		</button>
		</a>
  		
  	</div>
	
</div>
	


<%= render 'landingFooter' %>