
<%= render 'landingMenu' %>
<div class="ui breadcrumb">
  <span class="section">Home</span>
  <span class="divider">/</span>
  <span class="section"><b>View Application Status</b></span>
</div>
  <%if session[:success] != nil %>
    <div class="ui container">
      <div class="ui positive icon message">
        <i class="close icon"></i>
        <i class="checkmark icon"></i>
        <div class="content">
          <div class="header">
            <%=session[:success] %>
          </div>
          <p>You can now monitor your application status on this page by providing your email address.</p>
        </div>
      </div>
    </div>
<%end %>

<%if @error == true %>
  <div class="ui container" style="max-width: 700px !important;">
    <div class="ui negative icon message">
      <i class="close icon"></i>
      <i class="exclamation circle icon"></i>
      <div class="content">
        <div class="header">
          The email you entered could not be found.
        </div>
        <p>Make sure you enter the email address you used in your application.</p>
      </div>
    </div>
  </div>
<%end %>


<div class="ui container" style="margin: 35px 0 50px 0">
  <h2 class="ui centered header">
    My Application Status
    <hr style="max-width: 200px">
    <div class="sub header">You can view the current status of your application on this page.</div>
  </h2>
  <div class="ui  center aligned container segment" style="max-width: 600px !important; background: #F8F8F8">
    <%if @status != nil %>
      <h2 class="ui header" style="margin:15px 0px 15px 0px !important;">
        <i class="medium icons">
          <i class="file icon"></i>
          <i class="inverted corner search icon"></i>
        </i>
        Your Status
        <div class="sub header"></div>

      </h2>
    <h1 class="ui bg-maroon massive label" style="margin: 20px 0 20px 0"><%=@status %></h1>
    <%else %>
      <div class="row">

        <%= form_tag("/view/app-status", method: "post") do %>
          <div class="row">
            <h3 class="ui header" style="margin:15px 0px 15px 0px !important;">
              <i class="medium icons">
                <i class="file icon"></i>
                <i class="inverted corner search icon"></i>
              </i>
              Track Status
              <div class="sub header">Enter the email address you provided in your app</div>

            </h3>
          </div>
          <div class="ui big fluid  input" >
            <input type="email" placeholder="Your Email Address..." name ="email">
          </div>
          <button class="ui big vertical animated button maroon-button" tabindex="0" style="margin: 25px 0 15px 0">
            <div class="visible content">Track</div>
            <div class="hidden content">
              <i class="search icon"></i>
            </div>
          </button>
        <% end %>
      </div>
    <%end %>

</div>
</div>


<%= render 'landingFooter' %>